<div class="container">
  <app-navbar></app-navbar>
  <app-users></app-users>
  <!-- <mat-slide-toggle>Toogle Me!</mat-slide-toggle> -->
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#1976d2;padding: 8px 12px;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard" >DashBoard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rxjs">Rxjs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> -->
    <!-- </ul>
  </div> -->

  <!-- <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="
    margin: 0px 10px">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

</nav> -->

<!-- <div>
    <app-dashboard></app-dashboard>
</div>
<div>
  <app-about></app-about>
</div> -->
<!-- <div class="container-fluid">
  <router-outlet></router-outlet>
</div> -->

